@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
}

* {
    box-sizing: border-box;
    border: 0;
}

body {
    margin: 0;
    background: var(--black);
}

a {
    font-weight: 500;
    color: var(--purple);
    text-decoration: inherit;
}

a:hover {
    color: var(--purple-hover);
}

body {
    margin: 0;
    max-height: 100vh;
    min-height: 100vh;
}